@import '../utils/mixinsMobile.scss';

.footer {
    background-color: var(--color-black);
    padding: 50px 20px 32px;
    color :var(--color-light);
    display: flex;
    justify-content: center;

    @include respond-to(tablet-portrait) {//768px
        display: flex;
        justify-content: center;
    }

    &__menu {
        // margin-inline:20px ;
        display: flex;
        justify-content: space-around;
        
        margin-bottom: 50px;

    @include respond-to(mobile) {//320px
        justify-content: space-between;
        row-gap: 40px;
        margin-inline: 10px;
        flex-wrap: wrap;
    } 

    @include respond-to(mobile-landscape) {//480px
        justify-content: space-between;
        row-gap: 40px;
        margin-inline: 20px;
        flex-wrap: wrap;
    }
    @include respond-to(tablet-portrait) {//768px
        justify-content: space-around;
        row-gap: 0px;
        flex-wrap: nowrap;
    }

        &-title {

            @include respond-to(mobile) {//320px
                font-size: 18px;
            font-weight: 600;
            }
        }

        &-list {
            max-width: 227px;

            @include respond-to(mobile) {//320px
                width: 50% ;
                max-width: 120px;
            } 

            @include respond-to(mobile-landscape) {//480px
                width: 50% ;
                max-width: 150px;
                }
            @include respond-to(tablet-portrait) {//768px
                width: 25%;
                max-width: 130px;
            }
            @include respond-to(tablet-landscape) {//992px
                max-width: 227px;
                width: 25%;
            }

        }
        &-item:first-child {
            padding-bottom: 20px;
        }
        &-item + &-item {
            padding-top: 20px;
        }
        &-title {
            font-weight: 700;
            font-size: 24px;
            text-align: left;
            line-height: 1.3;
            color: var(--color-light);
        }
        &-link {
            line-height: 1.3;
            color: var(--color-light);

        }
    }

    &__app {
        display: flex;
        justify-content: center;
        gap: 40px;
        margin-bottom: 50px;

        @include respond-to(mobile) {//320px
            flex-direction: column;
} 

        @include respond-to(mobile-landscape) {//480px
            flex-direction: row;
        }

    }

    &__copyright {
        max-width: 806px;
        margin: 0 auto 30px;
        text-align: center;
        font-size: 12px;
        }

    &__nav-extra {

        &-list {
            display: flex;
            justify-content: center;
            gap: 40px;

            @include respond-to(mobile-portrait) {//0px
                flex-direction: column;
                align-items: center;
}

    @include respond-to(mobile) {//320px
        flex-direction: column;
        align-items: center;
    } 

    @include respond-to(mobile-landscape) {//480px
        flex-direction: column;
        align-items: center
    }
    @include respond-to(tablet-portrait) {//768px
        flex-direction: row;
    }
}
}   
}
