@import '../utils/mixinsMobile.scss';

.form {
    max-width: 580px;
    margin-inline:  auto;
    display: flex;
    flex-direction: column;
    gap: 20px; // Отступ между элементами формы

    
  @include respond-to(mobile) {//320px
    max-width: 280px;
  } 

@include respond-to(mobile-landscape) {//480px
    max-width: 400px;
  }

  @include respond-to(tablet-portrait) {//768px
    max-width: 580px;
  }

    &__input-group {
        display: flex;
        flex-wrap: wrap;
        gap: 40px; // Отступ между двумя полями ввода
        width: 100%; // Гарантируем, что контейнер занимает всю ширину
    }

    &__input {
        flex: 1; // Поля ввода занимают равную часть строки
        padding: 18px 20px;
        border: 1px solid var(--color-brand);
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.3;
        color: var(--color-black);

        &::placeholder {
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.3;
            color: var(--color-black);
            opacity: 0.5;
        }
    }

    &__textarea {
        box-sizing: border-box;
        width: 100%;
        height: 290px;
        resize: none;
        padding: 28px 20px;
        border: 1px solid var(--color-brand);
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.3;
        color: var(--color-black);
        margin-bottom: 50px;

        &::placeholder {
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.3;
            color: var(--color-black);
            opacity: 0.5;
        }
    }

    &__button {
        text-transform: uppercase;
        color: var(--color-light);
        background-color: var(--color-black);
        padding: 13px 61px;
        width: 184px;
        height: 47px;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.3;
        margin: 0 auto;
    }
}
