
.menu {

    &__list {
        display: flex;
        column-gap: 2.1875rem;
        
        &-item {
        }
        &-link {
            color: var(--color-light);
            font-family: var(--font-family);
            font-weight: 700;
            &:hover, &:focus {
            color: var(--color-brand);
        }
        }
        
    }
}