// Add global styles
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  padding: 0 10px;
  max-width: 1220px;
  margin: 0 auto;
  box-sizing: border-box;
}

.main {
  flex-grow: 1; //прижали футер вниз
}

.section-title {
  margin-bottom: 50px;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  @include respond-to(mobile-portrait) {//0px
  }

  @include respond-to(mobile) {//320px
    font-size: 24px;
  } 

@include respond-to(mobile-landscape) {//480px
   font-size: 28px;

  }

  @include respond-to(tablet) {//576px
     font-size: 32px;
  }

  @include respond-to(tablet-portrait) {//768px
     font-size: 32px;
  }

@include respond-to(tablet-landscape) {//992px
   font-size: 36px;
  }
@include respond-to(desktop) {//1200px
   font-size: 48px;
  }
@include respond-to(large-desktop) {//1600px
  }
@include respond-to(tv) {//1920px
  }
}
.container-wrapper {
  margin-top: 140px;
}
